{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>{{ pagename }}</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>На данной страницы отражаются все созданные сниппеты.</p>
            <hr>
        </div>
    </div>
    <div class="row" style="margin-bottom:5px; ">
        <div class="col">
            <form action="" method="get">
                <select name="lang">
                    <option value="">----</option>
                    {% for lang in languages %}
                    <option value="{{ lang.id }}">{{lang.name}}</option>
                    {% endfor %}
                </select>
                <button type="submit" style="border-radius: 5px; background-color: aliceblue;">Применить</button>
                <a href="">Сбросить</a>
            </form>
        </div>
        <div class="col">
            <form action="" method="get">
                <select name="user">
                    <option value="">----</option>
                    {% for user in users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
                <button type="submit" style="border-radius: 5px; background-color: aliceblue;">Применить</button>
                <a href="">Сбросить</a>
            </form>
        </div>
    </div>
    <div class=" row">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">
                            {% if sort == "name" %}
                            <a href="?sort=-name">Название</a>
                            <i class="fa-solid fa-caret-up"></i>
                            {% elif sort == "-name" %}
                            <a href="?sort=name">Название</a>
                            <i class="fa-solid fa-caret-down"></i>
                            {% else %}
                            <a href="?sort=name">Название</a>
                            {% endif %}
                        </th>
                        <th scope="col">Язык</th>
                        <th scope="col">Автор</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Доступ</th>
                    </tr>
                </thead>
                <tbody>
                    {% for snippet in snippets %}

                    <tr>
                        <td scope="row">{{ snippet.id }}</td>
                        <td>
                            <a href="{% url 'snippet-detail' snippet.id %}">{{ snippet.name }}</a>
                            {% if snippet.user == request.user %}
                            <a href="{% url 'snippet-delete' snippet.id %}">
                                <i style="color: red" class="fa-sharp fa-solid fa-trash"></i>
                            </a>
                            {% endif %}
                        </td>
                        <td>{{ snippet.lang }}</td>
                        <td>{{ snippet.user.username }}</td>
                        <td>{{ snippet.creation_date }}</td>
                        <td style="padding-left :35px;">
                            {% if snippet.user == request.user %}
                            {% if snippet.private %}
                            <a href="{% url 'snippet-edit' snippet.id %}"><i class="fa-solid fa-lock"></i></a>
                            {% else %}
                            <a href="{% url 'snippet-edit' snippet.id %}"><i class="fa-solid fa-lock-open"></i></a>
                            {%endif%}
                            {% else %}
                            {% if snippet.private %}
                            <i class="fa-solid fa-lock"></i>
                            {%else%}
                            <i class="fa-solid fa-lock-open"></i>
                            {% endif %}
                            {%endif%}
                            {% endfor %}
                        </td>

                    </tr>
                </tbody>
            </table>
            <div align="right">
                <i style="color: gray;">Всего сниппетов:{{snippets.count}}</i>
            </div>
        </div>
    </div>
</div>
{% endblock %}